<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Edit Products</title>
</head>
<body>
    <h1>Form Edit Products</h1>

    <form action="/seller/<%= usId %>/edtProduct/<%= data.id %>" method="post">

        <label for="name">Name</label>
        <input type="text" name="name" value="<%= data.name %>">
        <br>
        <label for="price">Price</label>
        <input type="integer" name="price" value="<%= data.price %>">
        <br>
        <label for="stock">Stock</label>
        <input type="integer" name="stock" value="<%= data.stock %>">
        <br>
        <label for="imageUrl">Image URL</label>
        <input type="text" name="imageUrl" value="<%= data.imageUrl %>">
        <br>
        <button type="submit">Submit</button>

    </form>
</body>
</html>